<!DOCTYPE html>
<html lang="en">
<%- include('template/header.ejs') %> 
<body>
    <%- include('template/navbar.ejs') %> 
    <% for(issue of episodes){ %> 
        <a href="<%= issue %>"><%= issue %> </a>
        <br>
<% } %> 
    
</body>
</html>